@page "/bookdelete/{id:int}"

@inject IBookService BookService 
@inject NavigationManager NavigationManager

<h3>Book Delete</h3>
<hr />
<p style="color: red; text-align: center;">Are you sure that you want to delete this book?</p>
<EditForm Model="@book">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td><p>@book.Title</p></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><p>@book.Author</p></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center">
                <input type="submit" value="Delete" @onclick="DeleteBook" />
                <input type="button" value="Cancel" @onclick="CancelDelete" />
            </td>
        </tr>
    </table>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    Book book = new Book();

    protected override async Task OnInitializedAsync()
    {
        book = await BookService.GetBookDetails(id);
    }

    protected async void DeleteBook() 
    {
        await BookService.DeleteBook(id);
        NavigationManager.NavigateTo("/");
    }

    protected void CancelDelete() 
    {
        NavigationManager.NavigateTo("/");
    }
}
